.left-menu {
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  float: left;
  margin-right: 20px;
}

#garden {
  display:inline-block;
  position:relative;
  background-color: #eee;
  background-image: url(image-path('grid-30px.png'));
  border-right: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
}

.draggable {
  position:absolute;
}

.circle {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: inline-block;
}

.rectangle {
  height: 60px;
  width: 60px;
  display: inline-block;
}

.green {
  background-color: #7BD246 !important;
}

.brown {
  background-color: #85571E !important;
}

.gray {
  background-color: #ccc !important;
}
