body {
  margin: 0.5em 2em;
}

nav#main, main, footer {
  @include grid-row();
}

nav#main {
  border-bottom: 2px solid $primary-color;
  margin-bottom: 1em;
  #logo {
    $logo-size: 1em;
    img.logo{
      max-height: $logo-size; max-width: $logo-size;
    }
    img.logo, .title {
      color: $success-color;
    }
  }
  ul {
    float: right;
    list-style-type: none;
  }
}

main {
  .left_column, .right_column {
    @include grid-column(6);
  }
}

footer {
  margin-top: 5em;
  padding-top: 1em;
  border-top: 2px solid $info-color;
  text-align: center;
  a {
    @include button($padding: $button-sml, $bg: $vapor);
  }
}

// Buttons

input[type=submit] {
  @include button($padding: $button-med, $bg: $secondary-color);
}

// Page Specific Layouts:

#welcome {
  @include grid-column(8, $push: 2);
  text-align: center;
  img.logo, .information {
    @include grid-column(6);
  }
}
